<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-width">
        <title>Intranet Cotrisoja</title>
        {% load static %} 
        <link rel="icon" href="{% static 'home/cropped-favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" href="{% static 'home/cropped-favicon-192x192.png' %}"sizes="192x192" />
        <link rel="apple-touch-icon" href="{% static 'home/cropped-favicon-180x180.png' %}" />
        <link href="{% static 'home/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
        <link href="{% static 'home/lightbox/css/lightbox.css' %}" rel="stylesheet" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'home/style.css' %}">
    </head>
    <body>
        <div class="header">
            <div class="container p-0">
                <div class="d-flex justify-content-between">
                    <a href="/"><img src="static/home/Logo Cotrisoja.png" class="logo" alt=""></a>
                    <ul class="nav">
                        <li><a href="/" >Página Inicial</a></li>
                        <li><a href="/agenda" >Ramais</a></li>
                        <li><a href="https://mail.cotrisoja.com.br/" target="_blank">E-mail</a></li>
                        <li><a href="https://cotrisoja.com.br/" target="_blank">Site</a></li>
                        <li><a href="http://chamados.cotrisoja.com.br/" target="_blank">Chamados</a></li>
                        <li><a href="http://nfe/" target="_blank">Portal NFE</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container main main-height">
            <div class="row main-height">
                <div class="col-8 left-panel main-height">
                    <div class="row justify-content-center"><img src="{% static 'home/bolo.png' %}" class="bolo" alt=""></div>
                    <h1 class="text-center h1-font-size">Aniversários</h1>
                    <div id="carousel-panel-left" class="carousel slide justify-content-center align-content-center" data-bs-ride="carousel">
                        <div class="carousel-inner">{% for pessoas in Pessoas %}{% if forloop.counter0 == 0 %}
                            <div class="carousel-item active">
                                <div class="margin-inline-7vw">{% else %}
                                <div class="carousel-item">
                                    <div class="margin-inline-7vw">{% endif %}{% for pessoa in pessoas %}
                                    <div class="d-flex"> <h1>{{pessoa.nascimento.day|stringformat:"02d"}}/{{pessoa.nascimento.month|stringformat:"02d"}}</h1> <h2>{{pessoa.nome}}</h2> <h2>{{pessoa.unidade}}</h2> </div>{% endfor %}
                                </div>
                            </div>{% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-panel-left" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-panel-left" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
                </div>
                <div class="col-4 right-panel main-height">
                    <div class="row justify-content-center"><img src="{% static 'home/chat.png' %}" class="bolo" alt=""></div>
                    <h1 class="text-center h1-font-size">Recados</h1>
                    <div id="carousel-panel-right" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">{% for recado in Recados %}{% if forloop.counter0 == 0 %}
                            <div class="carousel-item active" data-bs-interval="5000">
                                <div class="w-100 d-inline div-carousel">{% else %}
                            <div class="carousel-item" data-bs-interval="5000">
                                <div class="w-100 d-inline div-carousel">{% endif %}
                                    {% if recado.titulo != '' %}<h1>{{recado.titulo}}</h1> {% endif %}
                                    {% if recado.titulo != '' %}<h2>{{recado.texto|linebreaks}}</h2> {% endif %}
                                    {% if recado.image.url is not None %}
                                    <a style="width: 100%;" href="{{recado.image.url}}" data-lightbox="image-1"><img src="{{recado.image.url}}" alt="{{recado.image.url}}"></a>
                                    {% endif %}
                                </div>
                            </div>{% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-panel-right" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-panel-right" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                
                </div>

            </div>
        </div>
        <div class="footer">
            <p>© 2022 - 2023 Cotrisoja. Todos os direitos reservados.</p>
        </div>
        <script src="{% static 'home/lightbox/js/lightbox-plus-jquery.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'home/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    </body>
</html>
