
.main{
    background-color: #022707ee;
    margin-top: 50px;
    min-height: 86vh;
}
.main > *{
    color: white;  
}
.main table{
  color: white;
}
.main h3{
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 10px;
}
.txtSearch{
  border-radius: 15px;
  border: none;
  padding: 10px;
  margin-top: 5px;
  size-adjust: 10px;
}
.txtSearch[type='text']{
  font-size: 14px;
}
.txtSearch:focus{
  outline-color: #014b38;
}
.main-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.main h1{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-header img{
  height: 46px;
  width: auto;
  margin-inline: 35px;
  filter: invert(100%);
}

.table *{
  font-size: 13px;
  padding: 0px !important;
  padding-bottom: 5px !important;
  margin-inline: 30px !important;
}
.head{
  border-bottom: 1px solid #ffffff;
}
.table-col-1{
  width: 5%;
}
.table-col-2{
  width: 12%;
}
.table-col-3{
  width: 23%;
}
.table-col-4{
  width: 25%;
}
.table-col-5{
  width: 21%;
}
.table-col-6{
  width: 14%;
}
