* {
    font-family: Poppins, sans-serif;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("/static/base/bg.png");
    background-color:azure !important;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #aaaaaa28; 
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #01634a;
    align-items: center;
    height: 50px;
    z-index: 1000;
}
.header ul{
    align-items: center;
}
.header a{
    color: white;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    padding-inline: 16px;
    transition: color 0.3s ease
}
.header .logo{
    height: 50px;
}
.header li::before{
    content: "|";
    color: #777777;
    font-size: 20px;
}
.header li:first-child::before{
    content: "";
}
.header a:hover{
    color: #26a861;
}
.navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: start;
    position:absolute;
    top: 100%;
    background-color: #01634a;
}
.navbar-collapse a{
    margin: 5px;
}
.navbar-collapse-button[aria-expanded="true"]{
  color: #26a861;
  transition: color .35s ease;
}
.collapse-button::before{
  content: url("/static/base/seta.svg");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-right: 5px;
  vertical-align:middle;
}
.collapse-button[aria-expanded="true"]::before {
  content: url("/static/documentos/seta rotated.svg");
  transition: transform .35s ease;
}
.navbar-collapse div{
    display: flex;
    flex-direction: column;
    margin-left: 15px;

}
.footer{
    display: flex;
    background-color: #01634a;
    text-align: center;
    min-height: 25px;
    height: 4vh;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: white;
    font-size: 16px;
    padding: 0;
    margin: 0;
}