@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #01634a;
}

html{
    height: 100%;
    width: 100%;
}
body{
    background-color:#e6ebe8;
}
.header{
    width: 100%;
    background-color: #01634a;
}
.header .logo{
    height: 80px;
    margin: 5px 0;
}
.navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: start;
    position:absolute;
    top: 100%;
    background-color: #01634a;
}
.navbar-collapse a{
    margin: 5px;
}
.navbar-collapse-button[aria-expanded="true"]{
  color: #26a861;
  transition: color .35s ease;
}

.collapse-button::after{
  content: url("/static/base/seta_down.svg");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-right: 5px;
  vertical-align:middle;
}

.collapse-button[aria-expanded="true"]::after {
  content: url("/static/base/seta_up.svg");
  transition: transform .35s ease;
} 

.navbar-collapse div{
    display: flex;
    flex-direction: column;
    margin-left: 15px;

}
.footer{
    display: flex;
    background-color: #01634a;
    text-align: center;
    min-height: 25px;
    height: 4vh;
    min-width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 40;
}
.footer p{
    color: white;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.missao_header {
    background-color: #004938;
    height: 35px;
}

.missao_header span {
   color: #e6ebe8;
}

.link_menu {    
    text-decoration: none;
    color: #e6ebe8;
    padding: 3px 0;
    user-select: none; 
}

.search_icon {
    text-decoration: none;
    color: #e6ebe8;
    user-select: none; 
}

.link_menu:hover {
    color: #49CA66;
}

.link_menu i {
    margin: 0 35px;
    font-size: 26px;
    display: block;   
}

.link_menu span {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.inputSearch {
    border-radius: 10px;
    border: 2px solid #014b38;
    padding: 8px;
    size-adjust: 10px;
}

.inputSearch:focus {
    outline: none !important;
    border: 2px solid #0c9774;
}
  
.modal-title {
    color: #01634a;
}

.drag-scroll {
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
    scrollbar-width: thin;
    scrollbar-color: #004938 transparent;      
}

.drag-scroll.dragging .link_menu {
    pointer-events: none;
}

.drag-scroll.dragging {
    cursor: grabbing;
}

.drag-scroll::-webkit-scrollbar {
    height: 5px;
}

.drag-scroll::-webkit-scrollbar-thumb {
    background-color: #004938; 
    border-radius: 20px;
}

.drag-scroll::-webkit-scrollbar-track {
    background: transparent;    
}

.hover-pointer:hover {
    cursor: pointer;
}

.result-quicksearch-type {
    font-weight: bolder;
    color: #014b38;
}

.result-quicksearch-filial-list {
    padding: 0;
    margin: 0;
}

.result-quicksearch-contact-list {
    margin-left: 1.5%;
}

.title-filial {
    font-weight: bold;
    font-size: large;
    color: #014b38;
}