.list-group-item {
    background-color: rgba(0,0,0,0);
}

.recado {
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-wrap: nowrap;
}

.img_func {
    width: 60px;
    height: 60px;
}

.img_func>img {   
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* Path: home/static/home/home_style.css */
