.list-group-item {
    background-color: rgba(0,0,0,0);
}

.recado {
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
    overflow: hidden;
    text-overflow: ellipsis; 
    text-wrap: nowrap;
}

.img_func {
    width: 60px;
    height: 60px;
}

.img_func>img {   
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.collapse_recados {
    border: 0;
    background-color: rgba(0,0,0,0);
    outline: 0;
    margin: 0;
    padding: 2px;
}

.miniatura_img_recado {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s;
}

.miniatura_img_recado:hover {
    transform: scale(1.1);
}

.previa_recado {
    max-height: 30vh;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;    
}

.nome_funcionario {
    font-size: 1em;
}

.funcao_funcionario {
    font-size: 0.9em;
    text-wrap: wrap;
}

.unidade_funcionario {
    font-size: 0.9em;
}

.limit-height-carousel {
    max-height: 510px;
}

.img-carousel {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Path: home/static/home/home_style.css */

.link-card {
  box-shadow: 2px 5px 7px 0px rgba(0, 53, 40, 0.25); 
}

.link-card:hover,
.link-card:focus {
  box-shadow: 2px 5px 7px 4px rgba(1, 99, 74, 0.35);  
}

.link-card:active {
  box-shadow: 0 2px 6px rgba(1, 99, 74, 0.20);  
}